/** {
    border: 3px dashed blue;
}*/

@font-face {
    font-family: 'ScienceGothic-BlkCnd';
    src: url("ScienceGothic-BlkCnd.ttf");

    
    font-style: normal;
    font-weight: normal;
    }


@font-face {
        font-family: 'ScienceGothic-BlkCndCtr';
        src: url('ScienceGothic-BlkCndCtr.ttf');
    
        
        font-style: normal;
        font-weight: normal;
        }


@font-face {
    font-family: 'ScienceGothic-BlkCtr';
    src: url("ScienceGothic-BlkCtr.ttf");
        
            
    font-style: normal;
    font-weight: normal;
            }

@font-face {
        font-family: 'ScienceGothic-BlkCndCtr';
        src: url('ScienceGothic-BlkCndCtr.ttf');
    
        
        font-style: normal;
        font-weight: normal;
        }

@font-face {
    font-family: 'ScienceGothic-BlkCtr';
    src: url("ScienceGothic-BlkCtr.ttf");
        
            
    font-style: normal;
    font-weight: normal;
            }

@font-face {
    font-family: 'ScienceGothic-BlkExpCtr';
    src: url("ScienceGothic-BlkExpCtr.ttf");
        
            
    font-style: normal;
    font-weight: normal;
            }

@font-face {
    font-family: 'ScienceGothic-CndCtr';
    src: url("ScienceGothic-CndCtr.ttf");
        
            
    font-style: normal;
    font-weight: normal;
            }

@font-face {
    font-family: 'ScienceGothic-Lt';
    src: url("ScienceGothic-Lt.ttf");
        
            
    font-style: normal;
    font-weight: normal;
            }

@font-face {
    font-family: 'ScienceGothic-LtCnd';
    src: url("ScienceGothic-LtCnd.ttf");
        
            
    font-style: normal;
    font-weight: normal;
            }

.cool-title {
    text-align: center;
    font-family: 'ScienceGothic-BlkCtr';
    margin-top: 100px;
    font-size: 130px;
}


    
    body {
        position: relative;
        background-color: #A49083;

    }
    
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 100vw 100vw; 
        border-color: transparent transparent #FAA12A #A49083; 
        z-index: -1; 
    }
    .sidebar {
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }
    
    .sidebar li {
        margin-bottom: 10px;
    }
    
    .sidebar a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
    
/* how the page wrapper will appear on mobile */
.page-wrapper {
    margin-left: 200px; 
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
}

.history {
grid-area: h;
}

.variations{
grid-area: v;
}

.alphabet {
grid-area: a;
}
}
/* CSS for the footer */
footer{
    background-color: gray;
}

/* variable font animation */
h3{
    font-family: 'ScienceGothic-Lt';
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wght" 900, "slnt" -13;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-family: 'ScienceGothic-Lt';
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}



    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
    .grid {
       
        display: grid;
        grid-template-columns: repeat(3, .005fr);
        gap: 2px;
        padding: 2px;
        border: 1px solid #ccc;
        margin-bottom: 10px; /* Add margin to create the staircase effect */
    }

    
    /* Set grid row for each grid */
    .lt-cnd {
        grid-row: 1; /* Place first grid on the first row */
        font-family: 'ScienceGothic-LtCnd', sans-serif;
        font-size: 80px;
    }
    
    .lt {
        grid-row: 2; /* Place second grid on the second row */
        font-family: 'ScienceGothic-Lt', sans-serif;
        font-size: 80px;
    }

    
    .cnd-ctr {
        grid-row: 3; /* Place third grid on the third row */
        font-family: 'ScienceGothic-CndCtr', sans-serif;
        font-size: 80px;
    }
    
    .blk-ctr {
        grid-row: 4; /* Place fourth grid on the fourth row */
        font-family: 'ScienceGothic-BlkCtr', sans-serif;
        font-size: 80px;
    }
    